body {
    margin: 0;
    background-color: rgb(252, 229, 223)
}

.header {
    height: 100px;
    border-radius: 50px;
    margin: 50px;
    background-color: rgb(255, 182, 162);
    color: white;
    display: flex;

    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    padding: 0 30px;
}

.header img {
    max-height: 150px;  /* prevents it from growing too big */
}

h1 {
    font-family: fantasy;
    margin: 0;
}

.info {
    font-family: fantasy;
}

#results {
    white-space: pre-wrap;
}

.container {
    text-align: center;
}

.imageRPS {
    width: 100px;  /* The width of each image */
    height: 100px; /* The heigth of each image */
    cursor: pointer; /* changes the cursor to a pointer when hovering over */
    margin: 20px; /*  adds pixels space around the image */
}

/* Making a custom pulsating animation */
@keyframes pulsating {
    0% {
        transform: scale(1); /* Normal size in the start */
    }

    50% {
        transform: scale(1.5); /* Image grows 1.5x its size */
    }

    100% {
        transform: scale(1); /* The image returns to its original size */
    }
}

.imageRPS:hover {
    /* Only pulsating when hovering over the image */
    animation: pulsating 1s ease-in-out infinite; /* loops forever */
}

.imageRPS:disabled {
    opacity: 0.5;
    pointer-events: none;
}