body {
    margin: 0;
    background-color: rgb(252, 229, 223)
}

.header {
    height: 100px;
    border-radius: 50px;
    margin: 50px;
    background-color: rgb(255, 182, 162);
    color: white;
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    padding: 0 30px;
}

.header img {
    max-height: 150px;  /* prevents it from growing too big */
}

h1 {
    font-family: fantasy;
    margin: 0;
}

.info {
    font-family: fantasy;
}

#results {
    white-space: pre-wrap;
}

.container {
    text-align: center;
}

.imageRPS {
    width: 100px;  /* The width of each image */
    height: 100px; /* The heigth of each image */
    cursor: pointer; /* changes the cursor to a pointer when hovering over */
    margin: 20px; /*  adds pixels space around the image */
}

/* Making a custom pulsating animation */
@keyframes pulsating {
    0% {
        transform: scale(1); /* Normal size in the start */
    }

    50% {
        transform: scale(1.5); /* Image grows 1.5x its size */
    }

    100% {
        transform: scale(1); /* The image returns to its original size */
    }
}

.imageRPS:hover {
    /* Only pulsating when hovering over the image */
    animation: pulsating 1s ease-in-out infinite; /* loops forever */
}

.imageRPS:disabled {
    opacity: 0.5;
    pointer-events: none;
}

/* This makes the whole screen become transperant behind the popop content */
#screen-cover {
    /* If this is not here then the popup would appear under everything else, like normal flow*/
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; /* Uses the whole width of the screen*/
    height: 100%; /* Uses the whole heigth of the screen*/
    background-color: rgba(0, 0, 0, 0.7); /* The transperant background*/
    display: none; /* this makes the element hidden*/
    /* these under scenters the content on the screen*/
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#reveal-box {
    background-color: rgb(255, 182, 162);
    border-radius: 50px; /* Makes the box have rounded corners*/
    padding: 20px; /* The space inside the box around the content in the box*/
    text-align: center; /* centers t*/
    color: white; /* Text color*/
    font-family: fantasy;
}

#computer-choice {
    width: 150px;
    height: 150px;
    animation: pulsating 1s ease-in-out infinite;
}

.obs {
    background-color: rgb(255, 182, 162);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%;
    position: absolute;
    bottom: 0;
}

.obs h3 {
    display: inline-block;
    margin: 0;
    animation: pulsating 1s ease-in-out infinite;
}

